[package]
name = "vela"
version = "0.1.0"
edition = "2024"

[dependencies]
tokio = { workspace = true }
tracing = { workspace = true }


# 系统依赖
infrastructurex = { package = "infrastructure", path = "../src/infrastructure" }
commonx = { package = "common", path = "../src/common" }
interfacesx = { package = "interfaces", path = "../src/interfaces" }
redis = "1.0.3"
