[package]
name = "vela"
version = "0.1.0"
edition = "2024"

[dependencies]
hyper = "1.7.0"
once_cell = "1.21.3"
serde = { version = "1.0.226", features = ["derive"] }
serde_json = "1.0.145"
serde_variant = "0.1.3"
serde_yaml = "0.9.34"
thiserror = "2.0.16"
tokio = { version = "1.47.1", features = ["full"] }

[dev-dependencies]
tempfile = "3.10.1"
